header {
    height: 200px;
    position: fixed;
}

#nav-button {
    display: none;
}

.logo img {
    display: block;
    max-width: 200px;
    max-height: 200px;
    margin-top: -50px;
    padding-left: 40px;
}

.inner-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-header ul li {
    height: 70px;
    line-height: 70px;
    font-size: 1.5em;
}

.nav-bkg ul li a {
    color: $darkText;
    display: block;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul:last-child {
    padding-right: 200px;
}

.inner-header ul {
    display: flex;
    width: 80vw;
    justify-content: space-between;
}

.nav-bkg {
    width: 100%;
    margin-top: 50px;
    height: 70px;
    background-color: $lightText;
    display: flex;
    justify-content: space-between;
}

header h1 {
    visibility: hidden;
    color: $darkText;
    line-height: 70px;
    padding-left: 10vw;
}

header li:hover, header li:focus {
    border-bottom: 6px solid $mainColor;
}

main {
    padding-top: 250px;
}


// --------------------------- Responsive NAV 1050px --------------------------//
@media only screen and (max-width: 1200px) {

.inner-header ul {
    flex-direction: column;
}

.inner-headerli {
    display: block;
}


header h1 {
    visibility: visible;
}

    #nav-button {
        display: block;
        padding: 3vw;
        font-size: 1.5em;
        color: $darkText;
        background-color: $lightText;
        border: none;
        outline: none;
    }
}

.nav-bkg button, .nav-bkg ul {
    align-items: right;
}

