

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7,
.box-8,
.box-9,
.box-10,
.box-11,
.box-12,
.box-13,
.box-14,
.box-15,
.box-16,
.box-17,
.box-18,
.box-19,
.box-20,
.box-21,
.box-22,
.box-23,
.box-24,
.box-25,
.box-26,
.box-27,
.box-28,
.box-29,
.box-30,
.box-31,
.box-32,
.box-33{
    padding: 100px 100px 75px 100px;
    background-color: pink;
    font-size: 1em;
    text-align: center;
}



.timeline-horizontal{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
        "box-1  box-2  box-3  box-3   box-4  box-4  box-5  box-5  box-6  box-7"
        "box-8  box-9  box-10  box-11 box-12 box-13 box-14 box-15 box-16 box-17"
        "box-18 box-19 box-20  box-21 box-22 box-23 box-24 box-25 box-26 box-27"
        "box-28 box-28 box-29  box-30 box-30 box-31 box-31 box-32 box-33 box-33"
}


.box-2{
    grid-area: box-2;
}

.box-3{
    grid-area: box-3;
}

.box-4{
    grid-area: box-4
}

.box-5{
    grid-area: box-5;
}

.box-9{
    border-left: 3px solid purple;
    border-bottom: 3px solid purple;
}

.box-10{
    border-right: 3px solid purple;
    border-bottom: 3px solid purple;
}

.box-11{
    border-bottom: 3px solid purple;
}

.box-12{
    border-bottom: 3px solid purple;
    border-right: 3px solid purple;
}

.box-13{
    border-bottom: 3px solid purple;
}

.box-14{
    border-bottom: 3px solid purple;
    border-right: 3px solid purple;
}

.box-15{
    border-bottom: 3px solid purple;
}

.box-16{
    border-bottom: 3px solid purple;
    border-right: 3px solid purple;
}

.box-19{
    border-top: 3px solid purple;
    border-left: 3px solid purple;
}

.box-20{
    border-top: 3px solid purple;
}

.box-21{
    border-top: 3px solid purple;
    border-right: 3px solid purple;
}

.box-22{
    grid-area: box-22;
    border-top: 3px solid purple;
}

.box-23{
    grid-area: box-23;
    border-top: 3px solid purple;
    border-right: 3px solid purple;
}

.box-24{
    grid-area: box-24;
    border-top: 3px solid purple;
}

.box-25{
    grid-area: box-25;
    border-top: 3px solid purple;
}

.box-26{
    grid-area: box-26;
    border-top: 3px solid purple;
    border-right: 3px solid purple;
}

.box-27{
    grid-area: box-27;
}

.box-28{
    grid-area: box-28;
}

.box-29{
    grid-area: box-29;
}

.box-30{
    grid-area: box-30;
}

.box-31{
    grid-area: box-31;
}

.box-32{
    grid-area: box-32;
}

.box-33{
    grid-area: box-33;
}
