
// Timeline - Desktop

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7,
.box-8,
.box-9,
.box-10,
.box-11,
.box-12,
.box-13,
.box-14,
.box-15,
.box-16,
.box-17,
.box-18,
.box-19,
.box-20,
.box-21,
.box-22,
.box-23,
.box-24,
.box-25,
.box-26,
.box-27,
.box-28,
.box-29,
.box-30,
.box-31,
.box-32,
.box-33{
    text-align: center;
}



.timeline-horizontal{
    margin: 0 auto;
    width: 1150px;
    background-color: white;
    display: grid;
    grid-template-columns: 0 repeat(8, 1fr) 0;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "box-1  box-2  box-3  box-3   box-4  box-4  box-5  box-5  box-6  box-7"
        "box-8  box-9  box-10  box-11 box-12 box-13 box-14 box-15 box-16 box-17"
        "box-18 box-19 box-20  box-21 box-22 box-23 box-24 box-25 box-26 box-27"
        "box-28 box-29 box-29  box-30 box-30 box-31 box-31 box-32 box-32 box-33";
}

.timeline-horizontal p{
    font-size: 14px;
}

.timeline-horizontal h2{
    font-size: 1em;
}


.box-3,
.box-4,
.box-5{
    padding: 50px 25px 30px;
    align-self: end;
}

.box-29,
.box-30,
.box-31,
.box-32{
    padding: 30px 25px 50px;
    align-self: start;
}


.box-2{
    grid-area: box-2;
}

.box-3{
    grid-area: box-3;
}

.box-4{
    grid-area: box-4
}

.box-5{
    grid-area: box-5;
}

.box-9{
    grid-area: box-9;
}

.box-10{
    border-right: $timelineBorder;
    border-bottom: $timelineBorder;
}

.box-11{
    border-bottom: $timelineBorder;
}

.box-12{
    border-bottom: $timelineBorder;
    border-right: $timelineBorder;
}

.box-13{
    border-bottom: $timelineBorder;
}

.box-14{
    border-bottom: $timelineBorder;
    border-right: $timelineBorder;
}

.box-15{
    border-bottom: $timelineBorder;
}

.box-16{
    grid-area: box-16;

}

.box-19{
    grid-area: box-19;
}

.box-20{
    border-top: $timelineBorder;
    border-left: $timelineBorder;
}

.box-21{
    border-top: $timelineBorder;
    border-right: $timelineBorder;
}

.box-22{
    grid-area: box-22;
    border-top: $timelineBorder;
}

.box-23{
    grid-area: box-23;
    border-top: $timelineBorder;
    border-right: $timelineBorder;
}

.box-24{
    grid-area: box-24;
    border-top: $timelineBorder;
}

.box-25{
    grid-area: box-25;
    border-top: $timelineBorder;
    border-right: $timelineBorder;
}

.box-26{
    grid-area: box-26;
}

.box-27{
    grid-area: box-27;
}

.box-28{
    grid-area: box-28;
}

.box-29{
    grid-area: box-29;
}

.box-30{
    grid-area: box-30;
}

.box-31{
    grid-area: box-31;
}

.box-32{
    grid-area: box-32;
}

.box-33{
    grid-area: box-33;
}




